<div class="prize">
  <div class="image-wrapper">
    <%= image_tag(
      prize[:image_src],
      alt: prize[:name] || "Prize",
      loading: "eager",
      decoding: "async",
      srcset: prize[:image_srcset],
      sizes: prize[:image_srcset].present? ? "(max-width: 800px) 144px, 224px" : nil
    ) %>
  </div>

  <div class="description">
    <div class="name"><%= prize[:name] %></div>
    <%= prize[:hours_estimated] >= 500 ?
          ">500 hours" :
          "~#{prize[:hours_estimated]} #{"hour".pluralize(prize[:hours_estimated])}" %>
  </div>
</div>
