<button type="submit" name="<%= name %>" value="<%= value %>"
        class="onboarding-choice-card <%= modifier_class %>"
        data-action="click->onboarding-transition#press">
  <span class="onboarding-choice-card__ornament onboarding-choice-card__ornament--top-left" aria-hidden="true">✦</span>
  <span class="onboarding-choice-card__label"><%= content %></span>
  <span class="onboarding-choice-card__ornament onboarding-choice-card__ornament--bottom-right" aria-hidden="true">✦✦</span>
</button>
