<div class="upgrade-modal" data-controller="upgrade-modal" data-action="click->upgrade-modal#backdropClose">
  <div class="upgrade-modal__card" data-upgrade-modal-target="card">
    <button type="button"
            class="upgrade-modal__close"
            aria-label="Close"
            data-action="click->upgrade-modal#close">
      <svg viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="M6 6L18 18M6 18L18 6" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
      </svg>
    </button>
    <h1 class="upgrade-modal__title">Sign in to continue</h1>
    <p class="upgrade-modal__body">
      You're browsing as a guest. To create projects, like, comment, or follow other builders, sign in with your Hack Club account.
    </p>
    <%= link_to "Sign in with Hack Club", hack_club_auth_path, class: "upgrade-modal__cta" %>
  </div>
</div>
